div#container{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
}

div#content{
	font-family: terminus;
	color: #ffffff;
	background-color: #000000;
	border: 1px solid #ffffff;
	padding: 16px;
	margin: 0 auto;
	display: block;
	h1{
		margin: 0;
		font-size: 18pt;
	}
}