div#container{
	font-family: terminus;
	background-color:#000000;
	color:#ffffff;
	h1{
		text-align: center;
	}
}

div#container .dataTables_wrapper{
	tr, div.dataTables_info, label{
		background-color:#000000;
		color:#ffffff;
	}
	tr{
		cursor: pointer;
	}
	tr:hover{
		background-color:#ffffff;
		color:#000000;
	}
}

#categoryIndex_paginate > span > a:not(.current), #categoryIndex_paginate > a:not(.disabled){
	color: #ffffff !important;
}