div#container{
	background-color: #000000;
	background-image: url('/img/8ball.png');
	background-repeat: no-repeat;
	background-position: center;
}

div#story{
	font-family: terminus;
	color: #CED5F9;
	padding: 32px;
	min-height: 100%;
	font-size: 18pt;
	display: flex;
	align-items: center;
	justify-content: center;
	hr{
		border: 0;
		height: 0;
	}
}
div#story > div#storytext {
	text-align: center;
	padding:20px;
	border-radius:30px;
	width: 200px;
	max-height:200px;
	align-self: center;
}