@font-face{
	font-family: broken;
	src: url('/fonts/broken.woff2');
	font-display: swap;
}

div#container{
	background-color: #aaaaaa;
	background-image: url('/img/bottle.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

div#story{
	font-family: broken;
	color: #000000;
	text-align: center;
	padding: 32px;
	min-height: 100%;
	font-size: 36pt;
	text-shadow: 2px 0 #ffffff;
	hr{
		border: 0;
		height: 0;
	}
}