@font-face{
	font-family: notodrugs;
	src: url('/fonts/notodrugs.woff2');
	font-display: swap;
}


div#container{
	background-image: url('/img/pills.jpg'), linear-gradient(#DCE0EF, #DEDEEC);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

div#story{
	font-family: notodrugs;
	color: #000000;
	padding: 32px;
	font-size: 36pt;
	text-shadow: 2px 0 #00ff00, -2px 0 #0000ff, 0 2px #ff0000, 0 -2px #ffffff;
	min-height: 100%;
	text-align: center;
	hr{
		border: 0;
		height: 0;
	}
}