@font-face{
	font-family: dotMatrix;
	src: url('/fonts/dotmatri.woff2');
	font-display: swap;
}

div#container{
	background-color: #000000;
	background-image: url('/img/darkwood.jpg');
	background-repeat: repeat;
}

div#story{
	font-family: dotMatrix;
	background-color: #E2E3DA;
	background-image: url('/img/whitepaper.jpg');
	background-repeat: repeat;
	padding: 32px;
	min-height: 100%;
	font-size: 24pt;
	hr{
		border: 0;
		height: 0;
	}
}