@font-face{
	font-family: graffiti;
	src: url('/fonts/adrip1.ttf');
}

div#container{
	min-height: 100%;
	background-color: #000000;
	background-image: url('/img/graybrick.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: graffiti;
	text-align: center;
	padding: 32px;
	min-height: calc(100% - 64px);
	font-size: 48pt;
	color: #000000;
	text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
	hr{
		border: 0;
		height: 0;
	}
}