@font-face{
	font-family: graffiti;
	src: url('/fonts/Painterz.ttf');
}

div#container{
	background-color: #000000;
	background-image: url('/img/graybrick.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: graffiti;
	text-align: center;
	padding: 32px;
	display: block;
	height: 100%;
	font-size: 48pt;
	max-width: 100%;
	color: #00ff00;
	letter-spacing: 0.1em;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
	hr{
		border: 0;
		height: 0;
	}
}