@font-face{
	font-family: newspaper;
	src: url('/fonts/oldnewspapertypes.woff2');
	font-display: swap;
}

div#container{
	background-color: #CCCED5;
	background-image: url('/img/gravel.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: newspaper;
	max-width: calc(100% - 64px);
	background-color: #D3B994;
	background-image: url('/img/brownpaper.jpg');
	background-size: cover;
	background-repeat: repeat;
	padding: 16px 32px 72px 32px;
	font-size: 24pt;
	color: #000000;
	text-align: justify;
	box-shadow: 
		0 -24px 32px black inset,
		0 8px 8px rgba(33,33,33,.7);
	@media only screen and (max-width: 600px){
		font-size: 16pt;
	}
	h1{
		width: 100%;
		margin: 0;
		font-size: 46pt;
		text-align: center;
		@media only screen and (max-width: 600px){
			font-size: 24pt;
		}
	}
	hr{
		border: 0;
		height: 0;
	}
	h1 + hr{
		background-color: black;
		margin: 0;
		padding: 0;
		height: 8px;
		border: 0;
	}
}