@font-face{
	font-family: handwriting;
	src: url('/fonts/handwriting.ttf');
}

div#container{
	min-height: calc(100% - 24px);
	background-color: #000000;
	background-image: url('/img/ashwood.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: handwriting;
	max-width: 636px;
	padding: 32px;
	padding-left: 132px;
	font-size: 24pt;
	background-image: url('/img/notepaper.jpg');
	background-repeat: repeat-y;
	background-size: 800px auto;
	background-position: left;
	color: #444444;
	box-shadow: 0 8px 8px rgba(33,33,33,.7);
	hr{
		border: 0;
		height: 0;
	}
}