@font-face{
	font-family: crayon;
	src: url('/fonts/Crayone.otf');
}

div#container{
	background-color: #000000;
	background-image: url('/img/ashwood.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: crayon;
	max-width: 636px;
	padding: 26px;
	font-size: 32pt;
	background-image: url('/img/whitepaper1.jpg');
	background-size: cover;
	background-position: top left;
	color: #2D383A;
	box-shadow: 0 8px 8px rgba(33,33,33,.7);
	hr{
		border: 0;
		height: 4px;
	}
	@media only screen and (max-width: 769px){
		font-size: 24pt;
	}
}