@font-face{
	font-family: broken;
	src: url('/fonts/broken.woff2');
	font-display: swap;
}

div#container{
	background-color: #72BEF5;
	background-image: url('/img/opiate.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@media only screen and (max-width: 769px){
		background-position: center right;
	}
}

div#story{
	font-family: broken;
	color: #000000;
	text-align: center;
	padding: 32px;
	min-height: 100%;
	font-size: 36pt;
	text-shadow: 2px 0 #ffffff;
	hr{
		border: 0;
		height: 0;
	}
}