@font-face{
	font-family: timesnewroman;
	src: url('/fonts/TimesNewRomanMTStd.woff2');
	font-display: swap;
}

div#container{
	background-color: #F4DFB6;
	background-image: url('/img/piano.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

div#container > div#story{
	font-family: timesnewroman;
	background-image: url('/img/whitepaper2.jpg');
	text-align: center;
	background-repeat: repeat;
	background-size: cover;
	padding: 13px;
	font-size: 30px;
	background-color: #ffffff;
	background-repeat: repeat;
	color: #444444;
	box-shadow: 0 8px 8px rgba(33,33,33,.7);
	hr{
		border: 0;
		background-color: #000000;
		height: 1px;
	}
	div#storytext{
		border: 1px solid #000000;
		padding: 13px;
	}
	@media only screen and (max-width: 769px){
		font-size: 25px;
	}
	@media only screen and (max-width: 425px){
		font-size: 20px;
	}
}