div#container{
	background-color: #000000;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(236,126,0,1) 100%);
}

div#story{
	font-family: terminus;
	padding: 32px;
	min-height: 100%;
	font-size: 18pt;
	hr{
		border: 0;
		height: 0;
	}
}
div#story > div#storytext {
	text-align: center;
	background-color:#fff;
	padding:20px;
	border-radius:30px;
	min-width:40px;
	min-height:40px;
}