@font-face{
	font-family: handwriting;
	src: url('/fonts/handwriting.ttf');
}

div#container{
	height: calc(100% - 120px);
	background-color: #000000;
	background-image: url('/img/corkboard.jpg');
	background-size: cover;
	background-repeat: repeat;
	padding-top: 120px;
	text-align: center;
	overflow: hidden;
}

div#container > div#story{
	transform: rotate(10deg);
	font-family: handwriting;
	width: fit-content;
	padding: 32px;
	font-size: 24pt;
	color: #000F55;
	background-color: #ffff88;
	margin: 0 auto;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

div#story::before{
	margin: 8px;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background: rgb(255,132,132);
	background: radial-gradient(circle, rgba(255,132,132,1) 0%, rgba(255,0,0,1) 100%);
	background-position: -8px -8px;
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	height: 32px;
	width: 32px;
	border-radius: 16px;
}