@font-face{
	font-family: broken;
	src: url('/fonts/broken.woff2');
	font-display: swap;
}

div#container{
	background-color: #FD7412;
	background-image: url('/img/fire.png');
	background-repeat: repeat;
	background-position: center center;
}

div#story{
	font-family: broken;
	color: #ffffff;
	text-align: center;
	padding: 32px;
	min-height: 100%;
	font-size: 36pt;
	hr{
		border: 0;
		height: 0;
	}
}