div#container{
  background:
    linear-gradient(
      to right,
      transparent 64.5%,
      #ff4040 64.5% 65.5%,
      transparent 65.5%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0 39px,
      #d8c98f 39px 41px
    ),
    linear-gradient(#111111, #222222);
}

div#container > div#story{
  font-family: terminus;
  padding: 26px;
  font-size: 22pt;
  background-color: #d8c98f;
  background-repeat: repeat;
  color: #222222;
  h1{
    margin: 0;
    font-size: 22pt;
    text-align: center;
  }
  hr{
    border: 0;
    height: 4px;
  }
  @media only screen and (max-width: 769px){
    font-size: 16pt;
    border-width: 0;
  }
}