@font-face{
	font-family: handwriting;
	src: url('/fonts/handwriting.ttf');
	font-display: swap;
}

div#container{
	background-color: #684A3D;
	background-image: url('/img/brownleather.jpg');
	background-repeat: repeat;
}

div#container > div#story{
	font-family: handwriting;
	max-width: 636px;
	padding: 26px;
	font-size: 32pt;
	background-color: #D6D7D2;
	background-image: url('/img/whitepaper1.jpg');
	background-size: cover;
	background-position: top left;
	color: #2D383A;
	box-shadow: 0 8px 8px rgba(33,33,33,.7);
	div#storytext{
		background-color: #000000;
		color: #ffffff;
		padding: 16px;
	}
	hr{
		border: 0;
		height: 4px;
	}
	@media only screen and (max-width: 769px){
		font-size: 24pt;
		padding: 13px;
	}
}