	{% if story %}
	<div id="footer">
		<div id="storycategory">
			Category - {{story.categoryName}}
		</div>
		<div id="storylinks">
			<a href="/story/{{story.prevstory}}" aria-label="View Previous Story">Prev</a>
			<a href="/story/{{randomstory}}" aria-label="View a Random Story">Rand</a>
			<a href="/story/{{story.nextstory}}" aria-label="View Next Story">Next</a>
		</div>
	</div>
	{% endif %}
	</body>
</html>