	{% if story %}
	<div id="footer">
		<div id="storycategory">
			Category - {{story.categoryName}}
		</div>
		<div id="storylinks">
			<a href="/story/{{story.prevstory}}">Prev</a>
			<a href="/story/{{randomstory}}">Rand</a>
			<a href="/story/{{story.nextstory}}">Next</a>
		</div>
	</div>
	{% endif %}
	</body>
</html>