<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A way to browse through the lore snippets found throughout CDDA">
		<title>CDDA Story Browser</title>
		{% for javascript in javascripts %}
		<script type="text/javascript" rel="preload" as="script" src="{{javascript}}"></script>
		{% endfor %}
		{% for stylesheet in stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{stylesheet}}">
		{% endfor %}
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/ico/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/ico/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/ico/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/ico/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/ico/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/ico/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="/ico/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="/ico/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/ico/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/ico/favicon-128.png" sizes="128x128" />
		<meta name="application-name" content="&nbsp;"/>
		<meta name="msapplication-TileColor" content="#FFFFFF" />
		<meta name="msapplication-TileImage" content="/ico/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="/ico/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="/ico/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="/ico/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="/ico/mstile-310x310.png" />
	</head>
	<body>
		<div id="header">
			<a href="/" class="home" aria-label="Return to Home Page"></a> | <a href="/story/{{randomstory}}" aria-label="Go to a Random Story">Random Story</a> | <a href="/index" aria-label="View the Story Index">Story Index</a>
		</div>