<div id="container">
	<div id="content">
		<h1>A Story Browser for Cataclysm: Dark Days Ahead</h1>
		<p>Do you like to read the snippets of lore you find strewn around in game? Me too!</p>
		<a href="/story/{{randomstory}}">Go to a random story</a>
		<a href="/index">Search the index</a>
	</div>
</div>